<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<div th:text="${employeeDTO.name}"></div>
<form th:object="${employeeDTO}" th:action="@{/editEmployee}" method="POST">
    <p>Employee name:<input type="text" th:field="*{name}"></p>
    <input type="hidden" th:name="employeeId" th:value="${employeeId}">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <p><input type="submit"></p>
</form>

</body>
</html>