<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employer Overview</title>
</head>
<body>
<div th:text="${employer.name}"></div>
<ul>
    <li th:each="employee : ${employer.getEmployeeList()}">
        <div th:text="${employee.name}"></div>
        <form th:action="@{/deleteEmployee}" method="POST">
            <input type="hidden" th:name="employeeId" th:value="${employee.id}">
            <button type="submit">Delete</button>
        </form>
        <form th:action="@{/editEmployee}" method="GET">
            <input type="hidden" th:name="employeeId" th:value="${employee.id}">
            <button type="submit">Edit</button>
        </form>
    </li>
</ul>

<form th:object="${employeeDTO}" th:action="@{/addEmployee}" method="POST">
    <p>Employee name:<input type="text" th:field="*{name}"></p>
    <input type="hidden" th:name="employerId" th:value="${employer.id}">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <p><input type="submit"></p>
</form>

</body>
</html>