<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employers</title>
</head>

<br>
<h1> Employers Overview</h1><br>

<hr>
<ul>
    <li th:each="employer : ${employerList}">
        <div th:text="${employer.name}"></div>
        <ul>
            <li th:each="employee : ${employer.getEmployeeList()}">
                <div th:text="${employee.name}"></div>
            </li>
        </ul>
        <form th:action="@{/addEmployee}" method="GET">
            <input type="hidden" th:name="employerId" th:value="${employer.id}">
            <button type="submit">Overview</button>
        </form>
        <br>
    </li>
</ul>
<hr>

<form th:object="${employerDTO}" th:action="@{/addEmployer}" method="POST">
    <p>Employer name:<input type="text" th:field="*{name}"></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <p><input type="submit"></p>
</form>

</body>
</html>